.nav {
    background-color: #202123;
    color: #ffffff;
}

.nav .notice {
    color: #aaaaaa;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.navheader {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.1fr;

    margin: 10px;
}

.navheader-title {
    font-weight: bold;
    font-size: large;
    color: white;

    text-align: left;
}

.navheader-button {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;

    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;

    cursor: pointer;
}

.navitem {
    height: 50px;
    margin-top: 5px;
    
    cursor: pointer;
}

.navitem-options {
    display: block;
    margin-left: auto;
}

.navitem-content {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navitem svg {
    width: 24px;
    height: 24px;
}

.navitem-active {
    border-left: 1px solid white;
}

.navitem-active p {
    font-weight: 700;
}

.navitem:hover {
    background-color: #383a3d;
}

.navitem-title {
    color: white;

    height: auto;
    vertical-align: middle;
}

.navitem-link {
    text-decoration: none;
}
