.magic {
	/* margin-bottom: 0.5rem; */
	min-height: 20px;
	width: 100%;
	background: linear-gradient(90deg, #ecfff5, #dcecff, #fcefff, #ecfff5);
	border-radius: 1rem;
	background-size: 200%;
	animation:
		magic-in 1s ease 1,
		magic-move 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
	color: transparent;
	user-select: none;
}

.magic.done {
	text-align: left;
	height: auto;
	animation: none;
	user-select: auto;
	color: #000000;
	background: transparent;
	animation: magic-loaded-in 1s ease 1;
}

@keyframes magic-move {
	0% {
		background-position-x: 0%;
	}

	100% {
		background-position-x: 200%;
	}
}

@keyframes magic-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes magic-loaded-in {
	0% {
		position: relative;
		opacity: 0;
		top: 1rem;
	}

	100% {
		opacity: 1;
		top: -1rem;
	}
}

.toggleContainer {
	float: right;
}

.modeToggle {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 16px;

	cursor: pointer;
}

.regenerate {
	background-color: darkgrey;
	border: 1px solid black;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}

.option {
	border: none;
	background-color: #dcecff;
	border-radius: 8px;
	font-size: 16px;
	padding: 10px;
	margin: 5px;
	width: 30em;

	border: none;
	cursor: pointer;

	transition: background-color 0.15s ease;
}

.option:disabled {
	color: black;
}

.correct {
	background-color: #34d399;
}

.wrong {
	background-color: #fb4b4b;
}

.questionContainer li {
	list-style-type: none;
}

.navButtons {
	display: flex;
	float: left;
	outline: none;
	background-color: black;
	border: 1px solid black;
	color: white;
	margin-right: 5px;
	padding: 5px;

	border-radius: 8px;
	font-size: 14px;
}

.navButtons:disabled {
	background-color: lightgrey;
	color: grey;
}
