.contentblock {
    margin: 2vh;
}

.contentblock > h1 {
    font-size: 32px;
    font-weight: 700;
}

.contentblock > p {
    font-size: 20px;
    font-weight: 400;
}

.contentblock > img {
    max-width: 50%;
}

.contentblock > img.large {
    max-width: 100%;
    width: 100%;
}

.contentblock-border {
    padding: 1vh;

    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
}

.contentblock-border:hover {
    border-color: lightgray;
}

.contentblock .select-image {
    border: 1px dashed rgb(62, 62, 62);
    padding: 1vh;
    width: fit-content;
}

.contentblock .select-image > label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}