.noteBody {
	text-align: left;
	max-width: 900px;
	margin: auto;
	padding-bottom: 50px;
}

.noteHeader {
	display: grid;
	grid-template-columns: 1fr;
	padding: 4px;
}

.noteHeaderTitle {
	font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.dragIcon {
	height: 24px;
	width: 24px;
}

.hidden {
	display: none;
}

.noteBlock {
	display: grid;
	grid-template-columns: 16px 1fr 16px;
	gap: 10px;

	align-items: center;
}

.deleteButton {
	display: contents;
}

.deleteIcon {
	color: grey;
	width: 24px;
	height: 24px;

	transition: 0.2s ease;
	cursor: pointer;
}

.deleteIcon:hover {
	color: #fb4b4b;
}
