.noteBody {
    text-align: left;
    margin: 15px;
}

.noteHeader {
    display: grid;
    grid-template-columns: 1fr;
}

.noteHeaderTitle {
    font-size: 48px;
    font-weight: bolder;

    margin: 15px;
    text-align: left;
}

.dragIcon {
    height: 30px;
    width: 30px;
    display: none;
}

.dragIcon.hovering {
    display: unset;
}

.noteBlock {
    display: grid;
    grid-template-columns: 32px 1fr 32px;

    align-items: center;
}

.deleteButton {
    display: contents;
}

.deleteIcon {
    color: grey;
    width: 30px;
    height: 30px;

    transition: 0.2s ease;
}

.deleteIcon:hover {
    color: #FB4B4B;
}