#createblock {
    margin: auto;
    text-align: center;
    width: calc(100% - 4vh);

    border: 2px dashed #202123;
    background-color: white;

    cursor: pointer;
}

#createblock > span {
    font-size: 24px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    margin: 3%;
}

.draggedover {
    background-color: #add8e6;
}
