.popup-main .create-new {
    display: flex;
    gap: 3rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 1rem;

}

.popup-main .create-new div {
    text-align: center;
}

.popup-main .create-new button {
    width: 144px;
    height: 144px;
    border-radius: 16px;
    padding: 10px;
    font-size: 64px;

    cursor: pointer;
    border: none;
}

.popup-main .create-new p {
    color: white;
}

.popup-main .create-new-note {
    margin: auto;
    width: 80%;

    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;
}

.popup-main .create-new-note input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;

    outline: none;
}

.popup-main .create-new-note button {
    background-color: #DCECFF;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    margin-top: 5vh;
    width: 100%;

    border: none;
}