.createBlock {
	margin-top: 50px;

	border: none;
	border-radius: 8px;
	width: 100%;
	background-color: #f4f4f4;
	color: #ccc;

	cursor: pointer;
}

.createBlock:hover {
	background: #ddd;
	color: #aaa;
}

.text {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	padding: 10px;
}

.draggedOver {
	background-color: #7dd3fc;
	color: #fff;
}
