.popupMain {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* make it look like the popup is expanding from its center */
    transform-origin: left top;

    background-color: #202123;
    border-radius: 1rem;
    z-index: 999;

    transition: transform 0.15s ease, opacity 0.15s ease;
}

.inactive {
    transform: scale(0.8) translate(-50%, -50%);
    opacity: 0;

    /* prevents any mouse clicks or mouse interactions with element */
    pointer-events: none;
}

.popupHeader {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.popupTitle {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

/* close button icon */
.popupClose {
    width: 30px;
    height: 30px;
    margin-left: auto;
    cursor: pointer;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 99;
}


