.popup-main .create-new {
    display: flex;
    gap: 2rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding-bottom: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.popup-main .create-new div {
    text-align: center;
    transition: transform 0.15s ease;
}

.popup-main .create-new div:active {
    transform: scale(0.9);
}

.popup-main .create-new button {
    width: 144px;
    height: 144px;
    border-radius: 16px;
    padding: 10px;

    cursor: pointer;
    border: none;
}

.popup-main .create-new svg {
    width: 70%;
    height: 70%;
}

.popup-main .create-new p {
    color: white;
}

.popup-main .create-new-note {
    margin: auto;

    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 5vh;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-main .create-new-note input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;

    outline: none;
}

.popup-main .create-new-note button {
    background-color: #DCECFF;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    width: 100%;

    border: none;
    cursor: pointer;

    transition: transform 0.15s ease;
}

.popup-main .create-new-note p {
    margin: 0;
}

.popup-main .create-new-note button:active {
    transform: scale(0.9);
}

.form-status {
    border: transparent 2px solid;
    color: #ffffff;
    font-size: 1em;
    border-radius: 0.5rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.form-status svg {
    width: 100%;
    height: 100%;
}

.form-status-error span::before {
    content: 'Error: ';
    font-weight: bold;
}

.form-status-error {
    border-color: #ef4444;
    background: #f87171;
}