.notebody {
    text-align: left;
    margin: 15px;
}

.noteheader {
    display: grid;
    grid-template-columns: 1fr;
}

.noteheader-title {
    font-size: 48px;
    font-weight: bolder;

    margin: 15px;
    text-align: left;
}

.drag-icon {
    height: 30px;
    width: 30px;
    display: none;
}

.drag-icon.hovering {
    display: unset;
}

.note-block {
    display: grid;
    grid-template-columns: 32px 1fr;
}