.content {
	margin: 40px;
}

.content > hr {
	margin-bottom: 5vh;
}

.header {
	font-size: xx-large;
	margin: 0;
}

.main {
	display: flex;
	gap: 10vh;
}

.textbox {
	margin-bottom: 5vh;
}

.textbox > p {
	margin: 2px;
	color: gray;

	font-size: large;
}

.input {
	height: 30px;
	width: 400px;

	font-size: large;

	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	font-size: 20px;
}

.button {
	height: 30px;
	width: 150px;

	background-color: #202123;
	color: white;

	outline: none;
	border: none;
	border-color: gray;
	border-radius: 5px;

	cursor: pointer;
}

.container {
	position: relative;

	width: 192px;
	height: 192px;
}

.side {
	display: flex;

	cursor: pointer;
}

.textIcon {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 2vh;

	width: 20px;
	height: 20px;
}

.pfp {
	position: absolute;

	width: 192px;
	height: 192px;

	border-radius: 50%;
}

.pfpButton {
	display: contents;
	position: absolute;
	bottom: 0;

	width: 192px;
	height: 192px;

	border-radius: 50%;
	cursor: pointer;
}

.pfpButton:hover {
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

.pfpButton:hover .pfp {
	filter: brightness(75%);
}

.pfpIcon {
	position: absolute;
	display: inherit;
	top: 50%;
	left: 50%;

	margin: -32px 0 0 -32px;

	width: 64px;
	height: 64px;
}
