.content {
	margin: 40px;

	margin-left: 15%;
	margin-right: 15%;
}

.content > hr {
	margin-bottom: 5vh;
}

.content > section {
	display: flex;
	padding: 2vh;

	border-bottom: solid lightgray 1px;
}

.textSection {
	width: 50vh;
	margin-right: 25vh;
}

.textSection > p {
	font-size: 18px;
}

.header {
	font-size: xx-large;
	margin: 0;
}

.main {
	display: flex;
	gap: 10vh;
}

.textbox {
	margin-bottom: 2vh;
}

.textbox > p {
	margin: 2px;
	color: gray;

	font-size: large;
}

.input {
	height: 30px;
	width: 400px;

	font-size: large;

	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	font-size: 20px;
}

.button {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 16px;
    border: none;
    border-radius: 0.5rem;
    background: #202123;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    transition: transform 0.15s ease, background 0.15s ease;
}

.button:hover {
    background: #444444;
}

.button:active {
    transform: scale(0.9);
    background: #666666;
}

.container {
	position: relative;

	width: 192px;
	height: 192px;
}

.side {
	display: flex;

	cursor: pointer;
}

.textIcon {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 2vh;

	width: 20px;
	height: 20px;
}

.pfp {
	position: absolute;

	width: 192px;
	height: 192px;

	border-radius: 50%;
}

.pfpButton {
	display: contents;
	position: absolute;
	bottom: 0;

	width: 192px;
	height: 192px;

	border-radius: 50%;
	cursor: pointer;
}

.pfpButton:hover {
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

.pfpButton:hover .pfp {
	filter: brightness(75%);
}

.pfpIcon {
	position: absolute;
	display: inherit;
	top: 50%;
	left: 50%;

	margin: -32px 0 0 -32px;

	width: 64px;
	height: 64px;
}

.pfpRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 128px;
}

.pfpSection {
    padding: 16px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}