.contentBlock {
    margin: 2vh;
    background-color: white;
}

.contentBlock > h1 {
    font-size: 32px;
    font-weight: 700;
}

.contentBlock > p {
    font-size: 20px;
    font-weight: 400;
}

.contentBlockBorder {
    padding: 1vh;

    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
}

.contentBlockBorder:hover {
    border-color: lightgray;
}