.contentblock .image {
    max-width: 100%;
}

.contentblock .select-image {
    border: 1px dashed rgb(62, 62, 62);
    padding: 1vh;
    width: fit-content;
}

.contentblock .select-image > label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contentblock .image-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 50%;
}

.contentblock .image-container.large {
    width: 100%;
}

.contentblock .image-container .image-caption {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: grey;
    text-align: center;
    border: none;
    outline: none;
}

.contentblock .image-container .image-caption::placeholder {
    color: lightgrey;
    font-weight: 200;
}