.image {
    max-width: 100%;
}

.selectImage {
    border: 1px dashed rgb(62, 62, 62);
    padding: 1vh;
    width: fit-content;
}

.selectImage > label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 50%;
}

.imageContainer.large {
    width: 100%;
}

.imageCaption {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    color: grey;
    text-align: center;
    border: none;
    outline: none;
}

.imageCaption::placeholder {
    color: lightgrey;
    font-weight: 200;
}