.popover-overlay {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popover-main {
    position: relative;

    width: fit-content;

    border-radius: 10px;

    background-color: #202123;

    animation-name: fade-in;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

    box-shadow: black 0 0 20px;
}

.popover-top {
    top: 50%;
    left: 50%;
}

.popover-top::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #202123;
}

.popover-left {
    top: calc(-100% - 10px); /* youngermax: calc magic, 10px works */ /*vimpro is still the OG css hacker tho*/
    left: 140%;
}

.popover-left::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -100%);
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #202123;
}

.popover-title {
    text-align: left;
    padding: 10px;

    color: white;
    font-size: larger;
    font-weight: bold;
}

.popover-section {
    display: flex;
}

.popover-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
}


.popovermenu-createnew {
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
    align-items: center;

    border: white;
    border-style: solid;
    border-width: 2px;

    width: 10vh;
    height: 10vh;
    margin: 10px;

    cursor: pointer;
}

.popovermenu-createnew .popoverbutton-icon {
    width: 5vh;
    height: 5vh;

    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.popovermenu-createnew .popoverbutton-text {
    color: white;

    margin: 10px;
}

.popovermenu-edititem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.popovermenu-edititem button {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    
    cursor: pointer;
}

.popovermenu-edititem .delete-item {
    background-color: #FB4B4B;
}

.popovermenu-edititem .save-name {
    background-color: #3a946b;
}

.popovermenu-edititem input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;

    outline: none;
    margin-bottom: 20px;
}

@keyframes fade-in {
    0% {
        transform: translate(-50%, -0%);
        opacity: 0%;
    }
    100% {
        transform: translate(-50%, -15%);
        opacity: 100%
    }
}